If:
  PathMatch: (src/ps2|include/ps2)/.*
CompileFlags:
  Add: [-xc++, -std=c++98, --target=mipsel-unknown-elf, -nostdinc, -nostdinc++, -Wno-deprecated-writable-strings,
        -I../include/ps2, -I../include/ps2/std, -I../include/ps2/sce, -I../../include/ps2, -I../../include/ps2/std, -I../../include/ps2/sce,
        -I../../../include/ps2, -I../../../include/ps2/std, -I../../../include/ps2/sce]
Diagnostics:
  UnusedIncludes: None
Documentation:
  CommentFormat: Doxygen
---
If:
  PathMatch: src/port/.*
CompileFlags:
  CompilationDatabase: build/pc
