If:
  PathMatch: (ps2/src|ps2/include)/.*
CompileFlags:
  Add: [-xc++, -std=c++98, --target=mipsel-unknown-elf, -nostdinc, -nostdinc++, -Wno-deprecated-writable-strings,
        -I../ps2/include, -I../ps2/include/std, -I../ps2/include/sce, -I../../ps2/include, -I../../ps2/include/std, -I../../ps2/include/sce,
        -I../../../ps2/include, -I../../../ps2/include/std, -I../../../ps2/include/sce]
Diagnostics:
  UnusedIncludes: None
Documentation:
  CommentFormat: Doxygen
---
If:
  PathMatch: port/src/.*
CompileFlags:
  CompilationDatabase: port/build/pc
