---
BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 4
TabWidth: 4
UseTab: Never

---
Language: Cpp


AccessModifierOffset: -4
IndentCaseLabels: true




PointerAlignment: Right
SpaceAfterCStyleCast: true
SortIncludes: true
AlwaysBreakTemplateDeclarations: Yes

# Aligns the enum values in itemdata.hpp into columns.
AllowShortEnumsOnASingleLine: false
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
