---
InheritParentConfig: false
Checks: >
  -*,
  readability-identifier-naming
CheckOptions:
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.LocalVariableCase: lower_case
WarningsAsErrors: ''
...
